@charset "utf-8";
/* CSS Document */


/*************************************************************************************************/
/*******************************Container********************************************************/
/************************************************************************************************/


.container img{
    float:left; 
	opacity:0.65;
    margin:auto;
    position:relative;
    top:0px; left:0px;

	
}


/******************************rodape***************************************/
